
	<%= image_tag "logo_64.png", :alt => 'logo' %>
	<br>
<span id="login_title">Log into Serendipity</span>

<div class="login">	

<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
<% end %>
<%= form_for(:session, :url => sessions_path) do |f| %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>
</div>
<br>
<p>New user? <%= link_to "Sign up now!", :signup_path %></p>
