<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @interaction.Loclatitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @interaction.loclongitude %>
</p>

<p>
  <b>PersonA:</b>
  <a href="/users/<%= @interaction.PersonA %>"><%= @interaction.PersonA %></a> (<%=@interaction.persona.username if @interaction.persona %>)
</p>

<p>
  <b>PersonA:</b>
  <a href="/users/<%= @interaction.PersonB %>"><%= @interaction.PersonB %></a> (<%=@interaction.personb.username if @interaction.personb %>)
</p>

<p>
  <b>Timestamp:</b>
  <%= @interaction.Timestamp %>
</p>

<p>
  <b>Deltime:</b>
  <%= @interaction.deltime %>
</p>

<span class="white">
<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
</span>