<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @item_history.user_id %>
</p>

<p>
  <b>Item:</b>
  <%= @item_history.item_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @item_history.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @item_history.longitude %>
</p>

<p>
  <b>Signature:</b>
  <%= @item_history.signature %>
</p>

<p>
  <b>Stamp:</b>
  <%= @item_history.stamp %>
</p>

<p>
  <b>Runningdistance:</b>
  <%= @item_history.runningdistance %>
</p>


<%= link_to 'Edit', edit_item_history_path(@item_history) %> |
<%= link_to 'Back', item_histories_path %>
