<h1 style="width:100%; text-align:left;">Listing users</h1>
<div class="white orange button"><%= link_to 'New User', new_user_path %></div>
<br><br>

<%= will_paginate %>
<br>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Age</th>
    <th>Sex</th>
    <th></th>
    <th></th>
	<th></th>
	<th></th>
	<th></th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.sex %></td>
    <td></td>
	<td></td>
	<td></td>
    <td>
		<span class="black white button"><%= link_to 'Edit', edit_user_path(user) %>
		</span>
	</td>
    <td>
		<span class="red white button"><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
		</span>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<br>
