<span class="white button orange left"><%= link_to 'Back', users_path %></span>
<span class="white orange button left"><%= link_to 'Edit', edit_user_path(@user) %></span>

<br>
<br>
<br>

<div style="float:left; text-align:left; margin-left:300px ">
	<p id="notice"><%= notice %></p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>
</div>
