<span class="title2">Serendipity | </span>
<span class="title2"> Admin</span>

<br><br>



<div class="admin_nav blue">
	<ul>	
		<li><%= link_to "Manage Users", users_path %></li>
	</ul>
	<ul>
		<li><%= link_to "Manage Item Icons", images_path %></li>
		<li><%= link_to "Manage Images", images_path %></li>
		<li><%= link_to "Manage Item Descriptions", item_descriptions_path %></li>
		<li><%= link_to "Manage Items", items_path %></li>
		<li><%= link_to "Manage Item Histories", item_histories_path %></li>
	</ul>
	<ul>	
		<li><%= link_to "Manage Locations", locations_path %></li>
		<li><%= link_to "Manage Bagtypes", bagtypes_path %></li>
		<li><%= link_to "Manage Interactions", interactions_path %></li>
	</ul>
</div>


<table class="admin_etable">
  <tr>
    <td><%= link_to "Manage Users", users_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Item Icons", images_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Images", images_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Item Descriptions", item_descriptions_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Items", items_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Item Histories", item_histories_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Locations", locations_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Bagtypes", bagtypes_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Interactions", interactions_path %></td>
  </tr>
</table>