<%= render 'leaderboards_header' %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Running Distance</th>
    <th>Last Message</th>
  </tr>

<% @top_items.each do |item| %>
  <tr>
    <td><%= image_tag item[:image] %></td>
    <td><%= item[:name] %></td>
    <td><%= item[:distance] %></td>
    <td><%= item[:last_message] %></td>
  </tr>
<% end %>
</table>
<br/>
