<%= render 'leaderboards_header' %>

<div>The World</div>
<table>
  <tr>
    <th>Item</th>
    <th>Name</th>
    <th>Hops</th>
    <th>Last Message</th>
  </tr>

  <% @world.each do |row| %>
      <tr>
        <td><%= image_tag row[:image] %></td>
        <td><%= row[:name] %></td>
        <td><%= row[:hops] %></td>
        <td><%= row[:last_message] %></td>
      </tr>
  <% end %>
</table>

<div>My Items</div>
<table>
  <tr>
    <th>Item</th>
    <th>Name</th>
    <th>Hops</th>
    <th>Last Message</th>
  </tr>

  <% @mine.each do |row| %>
      <tr>
        <td><%= image_tag row[:image] %></td>
        <td><%= row[:name] %></td>
        <td><%= row[:hops] %></td>
        <td><%= row[:last_message] %></td>
      </tr>
  <% end %>
</table>
<br/>



