<%= render 'leaderboards_header' %>

<div>
  <p>
    My Drops : <%= current_user.item_histories.count %>
  </p>
</div>
<div class="leaderboard">
  <div class="title2">World Leaderboard</div>
  <br><br>

  <div>
    <div style="width:100%">
      <table style=" background:gray;">
        <tr style="background:gray">
          <th>Rank</th>
          <th>Username</th>
          <th>Drops</th>
          <th>Last Message</th>
        </tr>

        <% @top_users.each_with_index do |user, index| %>
            <tr>
              <td style="width:20px; font-size:20px; color:white; text-align: center;">
                <%= index + 1 %>
              </td>
              <td><%= user[:username] %></td>
              <td><%= user[:drops] %></td>
              <td><%= user[:last_message] %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <br><br>
</div>