<%= form_for(@infectionatorrequest) do |f| %>
  <% if @infectionatorrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infectionatorrequest.errors.count, "error") %> prohibited this infectionatorrequest from being saved:</h2>

      <ul>
      <% @infectionatorrequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bug_id %><br />
    <%= f.text_field :bug_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :stop_time %><br />
    <%= f.datetime_select :stop_time %>
  </div>
  <div class="field">
    <%= f.label :submitted %><br />
    <%= f.datetime_select :submitted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
