<p id="notice"><%= notice %></p>

<p>
  <b>Bug:</b>
  <%= @infectionatorrequest.bug_id %>
</p>

<p>
  <b>Start time:</b>
  <%= @infectionatorrequest.start_time %>
</p>

<p>
  <b>Stop time:</b>
  <%= @infectionatorrequest.stop_time %>
</p>

<p>
  <b>Submitted:</b>
  <%= @infectionatorrequest.submitted %>
</p>


<%= link_to 'Edit', edit_infectionatorrequest_path(@infectionatorrequest) %> |
<%= link_to 'Back', infectionatorrequests_path %>
