<div>
	<div class="white"><h2><%= item.name %><h2></div>
	<br>
  <div align="center" style="width:100px; margin-right:-100px; text-align:center;">
	<%= icon_for_item(item) %>
  </div>
  <div align="center" style="width:100px; margin-right:-100px; text-align:center;">
    <%= item.last_message %>
  </div>
  <div class="white">
    <%= item.name %>
    <br>
    Last Drop date: <%= item.last_drop %>
    <br>
    Rarity: <%= item.rarity %>
    <br>
    Hops: <%= item.hops %>
    <br>
    Distance Traveled: <%= item.running %>
    <br>
    Current Latitude: <%= item.latitude %>
    <br>
    Current Longitude: <%= item.longitude %>
  </div>
</div>