<div class="round white" style="border:solid; border-width:1px; border-color:white; width:300px; text-align: left">
	<h2 class="white" style="text-align:left; width:200px; border-bottom:solid; border-width:1px; border-color:white"><%= item.name %><h2>	
	<div align="center" style="float:left; width:100px; margin-right:-100px; margin-bottom:10px;text-align:center; margin-top:-95px">
		<%= icon_for_item(item) %>
	 </div>

<div style="margin-top:100px">
	<h2 style="font-size:20px; color:white">Message:</h2>
  <div class="right round" 
		style="margin-left:-20px;
				margin-top:-15px; 
				background-color:#F6FFE5;
				color:grey; 
				border-raidus:5px; 
				width:170px;  
				text-align:left; 
				font-size:10px">
	<%= item.last_message %><br>
	<%= item.last_drop %>
  </div>
	<br>
</div>
<h2 style="font-size:20px; color:white">Info:</h2>
  <div class="round white" style="padding-left:10px;margin-top:-25px; margin-left:50px; width:200px; text-align:left; border-raidus:10px; padding:5px; font-size:10px; border:solid; border-width:1px; border-color:white">
    Last Drop On: <%= item.last_drop %>
    <br>
    Rarity: <%= item.rarity %>
    <br>
    Hops: <%= item.hops %>
    <br>
    Distance Traveled: <%= item.running %>
    <br>
    Last Known Latitude: <%= item.latitude %>
    <br>
    Last Known Longitude: <%= item.longitude %>
  </div>
</div>