<h1>Your Items <%= current_user.username %></h1>


<table>


<% @items.each do |item| %>
  <tr>
    <td><%= image_tag item.item_description.image.icon.url(:thumb) if item.item_description.image if item.item_description %></td>
    <td><a href="/items/<%= item.id %>"><%= item.item_description.name if item.item_description %></a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
