

<%= stylesheet_link_tag "backpack" %>


<div id = "items">
<h1 id="header1">Your Backpack</h1>

<% @items.first(8).each_with_index do |item, index| %>
<div id = "slot<%= index + 1 %>">
  <div id = "item<%= index + 1 %>">
    <a href="/items/<%= item.id %>"><%= image_tag item.item_description.image.icon.url(:thumb) if item.item_description.image if item.item_description %>
<span><%= item.item_description.name if item.item_description %></span>
 </a>
  </div>
</div>
<% end %>
</div>


<br />





