<h1 align="left" style="border-bottom: solid; border-width:1px">Your Backpack</h1>

<br>
<div id="items">


  <div id="backpack">
    <div class="left_backpack">
      <div class="backpack_wrapper roundness">
        <div>
          <div class="bp_left roundness">
            <%= image_tag @items[1].thumb if @items[1] %>
          </div>
          <div class="bp_right roundness">
            <%= image_tag @items[2].thumb if @items[2] %>
          </div>
        </div>
        <div>
          <div class="bp_left roundness">
            <%= image_tag @items[3].thumb if @items[3] %>
          </div>
          <div class="bp_right roundness">
            <%= image_tag @items[4].thumb if @items[4] %>
          </div>
        </div>
      </div>
    </div>
    <div class="white links">
      <ul>
        <li>Farthest Traveled</li>
        <li>Most Hops</li>
        <li>lalala</li>
      </ul>
    </div>
    <div class="right">


      <div class="history">
        <table border="0" cellspacing="5" cellpadding="5">
          <% @histories.each do |hist| %>
              <tr>
                <td align="center" style="width:100px; margin-right:-100px; text-align:center;">
                  <%= image_tag hist.item.thumb %>
                </td>
                <td align="center" style="width:100px; margin-right:-100px; text-align:center;">
                  <%= hist.signature %>
                </td>
                <td>
                  Item Name: <%= hist.item.name %>
                  <br>
                  Drop date: <%= hist.stamp.strftime("%Y/%m/%d %H:%M") %>
                  <br>
                  Rarity: <%= hist.item.rarity %>
                  <br>
                  Hops: <%= hist.item.hops %>
                  <br>
                  Distance Traveled: <%= hist.item.running %>
                  <br>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>




