<h1>Listing Items</h1>
<br>
<br>

<span class="white orange button"><%= link_to 'New Item', new_item_path %></span>
<span class="white orange button"><%= link_to 'Create Multiple Random', :items_multinew_path %></span>
<span class="white orange button"><%= link_to 'Create Multiple Specific', :items_multinew_specific %></span>

<br><br>

<%= will_paginate %>

<table>
  <tr>
    <th>User</th>
    <th>Description ID</th>
    <th>Item Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.user_id %></td>
    <td><%= item.item_description_id %></td>
    <td><%= item.item_description.name if item.item_description %></td>

    <td><%= item.latitude %></td>
    <td><%= item.longitude %></td>
    <td><span class="button"><%= link_to 'Show', item %></span></td>
    <td><span class="button"><%= link_to 'Edit', edit_item_path(item) %></span></td>
    <td><span class="button"><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></span></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>
