<h1>New item</h1>



<%= form_tag(:action => :multi_create, :method => "POST") do %>
 <p>
   User:<br />
   <%= number_field_tag "user_id", current_user.id %>
 </p>
 <p>
   Item:<br />
   <%= number_field_tag "item_description_id" %>
 </p>
 <p>
   Latitude: <br />
   <%= text_field_tag "latitude" %>
 </p>
 <p>
   Longitude: <br />
   <%= text_field_tag "longitude" %>
 </p>
 <p>
   Number of Items to Make: <br />
   <%= number_field_tag "number", 1 %>
 </p>
 <p>
   Latitude Offset: <br />
   <%= text_field_tag "latitudeoffset", 0 %>
 </p>
 <p>
   Longitude Offset: <br />
   <%= text_field_tag "longitudeoffset", 0 %>
 </p>

 <p>
   <%= submit_tag 'Create Multiple' %>
 </p>
<% end %>

<%= link_to 'Back', items_path %>

