<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Description ID:</b>
  <%= @item.item_description_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @item.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @item.longitude %>
</p>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
