<% if isAdmin? %>
    <span class="left white orange button"><%= link_to 'Edit', edit_item_path(@item) %></span>
    <span class="left white orange button"><%= link_to 'Back', items_path %></span>
    <br><br><br><br>
<% end %>



<div class="left item_history">
  <div class="left" style="text-align:left;background-image: url('bg-<%= @item.rarity %>.png')">
    <%= render :partial => 'item_details_for', :locals => {:item => @item} %>
  </div>
  <!--	<div style="float: left; text-align:left">
	<span class="white"><%= will_paginate @positions[:histories] %></span>

  <% @positions[:histories].each do |hist| %>
	  <div>
	    Drop Date: <%= hist.stamp.strftime("%Y/%m/%d %H:%M") %>
	    <br>
	    Message: <%= hist.formatted_message %>
	  </div>

  <% end %>
	<span><%= will_paginate @positions[:histories] %></span>
	</div>-->
</div>



<!--GOOGLE MAP BELOW--><!--GOOGLE MAP BELOW--><!--GOOGLE MAP BELOW--><!--GOOGLE MAP BELOW--><!--GOOGLE MAP BELOW--><!--GOOGLE MAP BELOW-->


<script type="text/javascript">
    var map;
    var polyLine;
    var lons = <%= @positions[:longs].as_json %>;
    var lats = <%= @positions[:lats].as_json %>;
    var positionsRaw = [];
    var positions = new google.maps.MVCArray()
    for (var i = 0; i < lons.length; i++) {
        var latLng = new google.maps.LatLng(lats[i], lons[i]);
        positionsRaw.push(latLng);
        positions.push(latLng);
    }
    var counter = 0;

    function initialize() {
        var myOptions = {
            zoom: 8,
            center: new google.maps.LatLng(41.83872375564222, -87.62723207473755),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        polyLine = new google.maps.Polyline({
            map: map,
            path: positions
        })
    }

    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP
        });
        google.maps.event.addListener(marker, 'click', function() {
            map.setZoom(8);
        });
    }

    function addMarkersToMap(item_id) {
        for (var i = 0; i < lons.length; i++) {
            placeMarker(new google.maps.LatLng(lats[i], lons[i]));
        }
    }

    function nextFrame() {
        if (counter != 0) {
            positions.push(positionsRaw[positionsRaw.length - counter])
            counter--;
        }
    }

    function previousFrame() {
        if (counter != positionsRaw.length) {
            positions.pop();
            counter++;
        }
    }

    function play() {
        nextFrame();
        if (counter != 0) {
            window.setTimeout(play, 200);
        }
    }

    function startAnimation() {
        // Kick off the animation
        window.setTimeout(function () {
            positions.clear();
            counter = positionsRaw.length;
            play();
        }, 200);
    }

    $(document).ready(function () {
        console.log("loaded dom");
        initialize();
        addMarkersToMap();
    });

</script>

<p onclick="previousFrame()">Previous Frame</p>
<p onclick="startAnimation()">Play</p>
<p onclick="nextFrame()">Next Frame</p>
<div class="right" style="width:500px; height:500px;">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</div>