<p id="notice"><%= notice %></p>

<p>
  <b>Active:</b>
  <%= @bug.active %>
</p>

<p>
  <b>Infectionprob:</b>
  <%= @bug.infectionprob %>
</p>

<p>
  <b>Lifespan:</b>
  <%= @bug.lifespan %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
