<h1 style="width:100%; text-align:left;">Listing Item Descriptions</h1>

<span class="white orange button"><%= link_to 'CREATE New Item description', new_item_description_path %></span>
<br><br>

<%= will_paginate %>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Icon</th>
	<th>Description</th>
    <th>Rarity</th>
    <th>Map</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_descriptions.each do |item_description| %>
  <tr>
    <td><%= item_description.name %></td>
    <td><%= item_description.description %></td>
    <td><%= item_description.rarity %></td>
    <td><%= item_description.image_id %></td>
    <td>
		<span class="button white orange">
			<%= link_to 'Show', item_description %>
		</span>
	</td>
    <td>
		<span class="button white black">
			<%= link_to 'Edit', edit_item_description_path(item_description) %>
		</span>
		</td>
    <td>
		<span class="red button white">
			<%= link_to 'Destroy', item_description, confirm: 'Are you sure?', method: :delete %>
		</span>
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />


