<h1 style="width:100%; text-align:left;">Listing Locations</h1>
<span class="white orange button"><%= link_to 'New Location', new_location_path %></span>
<br><br>
<%= will_paginate %>
<br>

<table class="ll_table">
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Timestamp</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @locations.each do |location| %>
  <tr>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.timestamp %></td>
    <td><%= location.user_id %></td>
    <td><span class="button white orange"><%= link_to 'Show', location %></span></td>
    <td><span class="button white black"><%= link_to 'Edit', edit_location_path(location) %></span></td>
    <td><span class="button white red"><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></span></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

