<h1>Listing images</h1>
<br><br>

<span class="white orange button">
<%= link_to 'UPLOAD New Image Icon', new_image_path %>
</span>

<br><br>

<%= will_paginate %>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# I want to see the description ID for all items%>
<%# I want to be able to sort through the images%>

<% @images.each do |image| %>
  <tr>
    <td align="center"><%= image_tag image.icon.url(:thumb) %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />
