<!DOCTYPE html>
<html>
<head>
  <title>MoJo</title>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
</head>
<body>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<div class="container">
      <%= render 'layouts/header' %>
      <div style="clear: both"></div>
      <section class="round">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
    </div>
    <%= render 'layouts/footer' %></body>
</html>
